html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code starts here */

body {
  font-family: 'Times New Roman', sans-serif;
  margin: 0 0 0.935rem 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.45rem;
  line-height: 1.875rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 100%;
  height: 100%;
}

li {
  display: inline;
}

figcaption {
  display: inline;
  text-align: left;
  font-size: 1.05rem;
  line-height: 1.25rem;
  color: #666;
  margin-top: 10px;
}

a {
  color: rgb(50, 104, 145);
  text-decoration:none;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

footer {
  width: 70%;
  height:500px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  font-family: nyt-franklin, helvetica, arial;
}

#Ricky {
  font-size: 0.95rem;
  color: #888;
}

.bold {
  font-weight: bold;
}

.italian {
  font-style: italic;
}

/* Top Navbar styles */ 
#NavList {
  display: flex;
  position: fixed;
  width: 100%;
  font-size: 1.05rem;
  margin-top: -26px;
  padding-top: 15px;
  background-color: white;
}

#NavList :nth-child(1) {
  margin-left: 50px;
}

#NavList :nth-child(2) {
  margin-left: -20px;

}

#NavList :nth-child(3) {
  margin-left: 20px;
  font-weight: bold;
}

#NavList :nth-child(4) {
  margin: auto;
  margin-top: 0px;
}

#NavList :nth-child(5) {
  margin-right: -80px;
}

#NavList :nth-child(6) {
  margin-right: 100px;
}

#NavList li {
  margin-top: 0;
  margin-bottom: auto;

}


.TopButton {
  background-color: #567b95;
  border: 1px solid:#326891;
  color: white;
  font-weight: 700;
  font-size: 11px;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 11px 12px;
  cursor: pointer;
  box-shadow: none;

}

/* FlexBox Specs*/
.FlexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Flex1 {
  display: flex;
  flex-direction:column;
  height: 100%;
  width: 210px;
  margin-top: 1200px;
  margin-left: 75px;

}

.Middle {
  display: flex;
  flex-direction:column;
  height: 100%;
  width:30%;
  margin-left: 200px;
}

/*Title & Social media icons */

#ArtHeader {
  margin-top: 100px;
  width:33%;
  margin-left: auto;
  margin-right: auto;
}

#ArtHeader h1 {
  font-style: italic;
  font-weight: 1000;
  font-size: 32px;
  padding-bottom: 15px;
}

#ArtHeader hr {
  margin-bottom: 15px;
}

.SocIcon {
  font-size:24px;
}

.SocIcon li {
  margin-right: 20px;
  color: black;

}

/* Alan Guth picture styles */

#Pic1 {
  display: flex;
  flex-direction:column;
  width: 1300px;
  margin: auto;
  margin-top:30px;

}

/* writer note styles */

#Writer p {
  margin-top: 25px;
  color: black;
  text-decoration: none;
  font-size: 1.05rem;

}

#Writer a {
  text-decoration: none;
  color: black;
  font-weight: bold;

}

#date {
  font-size: 0.85rem;
  margin-top: 10px;

}

/* Signup styles */

#ArtSignUp {
  display: flex;
  flex-direction:row;

}

.ArtSignUpP {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #333;
}

.ArtSignUpP h4 {
  display: inline;
}

.ArtSignUpP p{
	display: inline;
} 

#SignUpButt {
  display: block;
  border: 1px solid black;
  background: white;
  font-weight: 700;
  height: auto;
  white-space: nowrap;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 1px;
  margin-left: 10px;
}

/* First text block styles */
.txt1 {
  padding-top: 30px;
}

/*Subscripe to times styles */
 #SubscrDiv {
   text-align: center;
   font-size: 1.1rem;
 }

#SubscrDiv a {
  text-decoration: none;
  color: rgb(50, 104, 145);
  margin-top: -5px;
 }

 #SubscrDiv hr {
   width: 100px;
 }

 /* Side bar styles */

.SideBarAdd {
  display: flex;
  flex-direction: row;
  line-height:25px;
  margin-top:20px;

}
.BlackLink {
  color: black;
}

.Flex1 p {
  font-size: 16px;
  text-decoration: none;
}

.AdvPic {
  margin-right: 10px;
}

.Flex1 hr {
  height: 2px;
}

/* 8picture + description styles here */ 

.cont8 {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 950px;
  height: 580px;
  margin-left: -150px !important;
  margin-top: 250px;
  z-index: 2;

}
.ContCont {
  font-size: 14px;
  width: 228px;
  height: 137px;
  line-height: 17px;
  margin-right: 5px;

}

.Pic2 {
  position:absolute;
  display: flex;
  margin-left: -150px;
  margin-top: 2930px;
  z-index: 1;
}

.PicCap8 {
  width:950px;
  margin-left:-150px;
}

.PicCap8 p {
  display: inline;
  text-align: left;
  font-size: 1.05rem;
  line-height: 1.0rem;
  color: #666;
}

/* 8 picture author note styles */
.Pic8Auth {
  width: 950px;
  margin-left: -150px;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #333;
  margin-top: -75px;


}

/* text after 8picture up to video + video styles */

.txt2 {
  margin-top: 75px;
}
.VidClass {
  margin-top: 25px;
}
.VidClass p{
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
}

/* Third picture and text after it styles */

.Pic3 {
  margin-left: -100px;
  margin-top:25px;
  margin-bottom:25px;
}

.Pic3 p {
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: #333;
}


/* version article footer, comment button and social media icon styling section */
.ArtVers {
  font-size: 0.85rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

.ArtFooter {
  margin-top: 25px;

}

.CommentButt {
  display: inline;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  font-weight: 600;
  font-size: 0.82rem;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 328px;
  height: 36px;
  padding: 5 0;
}

.SocIcon {
  display: inline;
  float: right;
}

/* footer styles starts here */

.FooterMain {
  height:500px;

  width: 70%;

}

.section {
  display: flex;
  flex-direction: row;

}

.NewsLet {
  width: 33%;
  border: solid 1px red;
  padding: 10px;
}

.NewsLet img {
  display: inline;
  
 

}

.NewsLet button {
  position: relative;
  right: -205px;
  top: -55px;

}

.NewsLet h6 {
  font-size: 0.80rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  width: 100%;
}

.NewsLet h4 {
  font-size: 1.125rem;
  width: 100%;
}

.NewsLet p {
  font-size: 1rem;
  line-height: 1px;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
}


.FooterMain p {
  display: inline;
}

.FooterSide {
  display: flex;
  flex-direction: column;
  width: 30%;
  
}


